body
{
	background: orange;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}
    center{
        background: linear-gradient(red,orange);
    }